[class*=range-label] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    > [class*=range-field-container] {
        max-width: 240px;
        width: 100%;
        margin-left: 20px;
        [class*=range-container] {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 1.5em 0 1em;
        }
    }
    > [class*=description-label],
    > [class*=error-label] {
        width: 100%;
    }
}
