[class*=range-label] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
[class*=range-container] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 2em;
}
[class*=range-field-container] {
    width: 100%;
}
